{% capture iframe %}
  <iframe
    {% if include.id %}
      src="https://itch.io/embed-upload/{{ include.id }}?color={{ include.color | default:'000000' }}"
      allowfullscreen=""      
    {% else %}
      src="{{ include.widget }}"
      height="171px"
      style="border-radius: 0;"
    {% endif %}
  >
    <a href="{{ include.url }}">Giocaci su itch.io</a>
  </iframe>
{% endcapture %}
{% if include.id %}
  {% include aspect-ratio.html content=iframe height="65%" %}
{% else %}
  {{ iframe }}
{% endif %}