---
layout: default
---
<div class="home">  

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="home-content">
    {{ content }}
  </div>

  {%- if site.posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <div class="post-list">
      {%- for post in site.posts -%}
        {%- if page.tag == null or post.tags contains page.tag -%}
        <div class="post">
          {%- if site.show_excerpts -%}
            <div class="post-excerpt">
              {{ post.excerpt }}
            </div>
          {%- endif -%}
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta"><strong>{{ post.date | date: date_format }}</strong> {% include inline-tag-list.md list=post %}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
        </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  {%- endif -%}

</div>
